html,
body, #wrapper {
  height: 100%;
	font-family: "mr-eaves-modern",sans-serif;
}

#wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
	background: url(../images/background.jpg);
	background-size: cover;
	flex-direction: column;

}

.logo {
	max-width: 174px;
	max-height: 87px;
	position: absolute;
	top: 35px;
	left: 35px;
}


.btn-primary {
    color: #fff;
    background-color: #EC1E7A;
    border-color: #EC1E7A;
		max-width: 180px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #CB0D7A !important;;
    border-color: #CB0D7A !important;;
}

.btn-lg {
		font-size: 1.375rem;
		font-weight: 300;
		padding: 0.2rem;
}


.welcome {
	font-weight: 300;
	color: #3F2E83;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 27px 33px;
  margin: 0 auto;
	background-color: #F5F7F8;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
	border-radius: 0;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 12px;
  border-radius: 0;
}


.form-signin label {
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: 0.15rem;
	margin-bottom: 0;
}


.forgot-password a {
	font-size: 0.9rem;
	color: #555;
}

.forgot-password a:hover {
	text-decoration: none;
	color: #000;
}

span.spacer:first-child {
    flex: 1 1 40% ;
}

span.spacer:last-child {
    flex: 1 1 60% ;
}
