body {
  font-family: "mr-eaves-modern", sans-serif;
  background: #F0F0F0;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

header {
  background: #fff;
}

.video-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  &:hover:before {
    color: #eee;
  }
}

h1,
h2 {
  color: #3F2E83;
  & a {
    color: #3F2E83;
  }
  & a:hover {
    color:RGBA(63, 46, 131, 0.66);
  }
}

h2 {
  font-size: 1.81rem;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.33rem;
  line-height: 2rem;
}

.navbar {
  z-index: 2000;
}

.mainnav li.nav-item a.nav-link {
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  text-align: right;
}

.mainnav ul.navbar-nav {
  margin-bottom: 1rem;
}

.logo-nav {
  width: 140px;
}

.lesson-videos p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6rem;
  margin-bottom: 0;
  padding-right: 15px;
}

.lesson-videos .media {
  align-items: flex-start;
  display: block;
  padding: 22px 0;
  border-bottom: 1px solid #DEDEDE;
}

.lesson-videos h2 {
  margin-top: 1rem;
}

.lesson-vid {
  width: 100%;
}

ul.add-resources {
  padding-left: 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #3F2E83;
  font-weight: 600;
  line-height: 2.2rem;
}

ul.add-resources a:link,
ul.add-resources a:active,
ul.add-resources a:visited {
  color: #3F2E83;
}

ul.add-resources a:visited {
  color: #1E1053;
}

.media-body h5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.media-body a {
  color: #3F2E83;
}

.media {
  align-items: center;
}

.worksheets h3,
.tab-pane h3 {
  font-size: 1.06rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #000;
}

.lesson-header-img {
  height: 157px;
  margin-left: -3rem;
  background-image: url(../images/lesson-header-bg.png), linear-gradient(60deg, #ECE0EC, #E3D5E3);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

/*---------------   COLORED TABS   ---------------*/

.tab-1 {
  z-index: 20;
}

.tab-2 {
  z-index: 19;
}

.tab-3 {
  z-index: 18;
}

.tab-4 {
  z-index: 17;
}

.tab-5 {
  z-index: 16;
}

.tab-6 {
  z-index: 15;
}

.tab-7 {
  z-index: 14;
}

.tab-8 {
  z-index: 13;
}

.tab-selected {
  z-index: 21;
}

/*---------------   MODULE NAV   ---------------*/

.nav-link.dropdown-toggle {
  font-size: .9rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #000;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: .6em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  color: #b0b0b0;
}

.module-nav li img {
  margin: -5px 0;
  position: static;
}

.module-nav li img.select {
  display: none;
}

.tab-selected img.tab {
  display: none;
}

li.tab-selected img.select {
  display: inline;
}

div.module-1>.color {
  background-color: #EC6AA4;
}

.module-nav li {
  border-top: 1px solid #cdcdcd;
  font-size: 1.3125rem;
}

.module-nav li a {
  color: #000;
  &.selected {
    text-decoration: underline;
    color: white;
  }
}

.module-nav li img {
  margin: -5px 0;
  position: static;
}

.module-nav li .nav-link {
  padding: 0 0 0 0;
}

.module-title {
  color: #fff;
  font-size: 1.375rem;
  margin: 0;
  padding: 0 0 0 15px;
}

.open-tab {
  height: 44px;
}

.border-mod {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.lesson-title p {
  padding-left: 15px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #fff;
  font-size: 1.25rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-style: italic;
}

.module-number {
  position: relative;
  left: -29px;
  top: 2px;
  color: #ffffff;
  font-size: 1.375rem;
  text-align: center;
  display: inline-block;
  width: 28px;
  margin-right: -28px;
}

.module-number-open {
  color: #ffffff;
  font-size: 1.375rem;
  text-align: center;
  margin-right: 0.7rem;
}

.module-number-selected {
  color: #969696;
}

.module-nav-title {
  position: relative;
  top: 1.5px;
  left: 10px;
}

/*---------------   LESSONS & RESOURCES TABS   ---------------*/

.nav-tabs {
  font-size: 1.06rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border-bottom: none;
}

.nav-tabs a {
  color: #3F2E83;
}

.nav-tabs .nav-link:hover {
  border-color: #A69DCB #A69DCB #fff;
}

.nav-tabs .nav-link {
  border-color: #3F2E83 #3F2E83 #fff;
}

.nav-tabs .nav-link.active {
  color: #000;
  background-color: #fff;
}

.tab-pane {
  background-color: #fff;
  padding: 15px;
}

.tab-content {}

.tab-content-area {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 576px) {
  .tab-pane {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
}

@media (min-width: 768px) {
  .dtcontentarea {
    margin: 0px auto;
    padding: 0 7%;
  }
  .lesson-videos .media {
    display: flex;
  }
  .ws-header {
    font-size: 1.75rem;
    color: #fff;
    text-align: center;
    background-color: #D7B5D7;
    background-image: url(../images/worksheets-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 23px 15px;
  }
  .lesson-vid {
    width: auto;
  }
  .mainnav ul.navbar-nav {
    margin-bottom: 0rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav li.nav-item a.nav-link {
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
  }
  .module-bg {
    background-color: #555555;
    padding-top: 39px;
    min-width: 320px;
  }
  .module-nav li img {
    margin: -5px 0;
    position: static;
  }
  div.module-1>.color {
    background-color: #EC6AA4;
  }
  .module-nav li {
    border-top: 1px solid #7a7a7a;
    &:first-child {
      border-top: none;
    }
  }
  .module-nav li img {
    margin: -7px -31px -1px 0;
    height: 66px;
    width: 31px;
  }
  .module-nav-title {
    top: 0px;
    left: 0px;
    color: #fff;
    margin-left: 40px;
    min-width: 230px;
    font-size: 1.4rem;
  }
  .module-number {
    top: -4px;
    left: -1px;
  }
  .worksheets {
    background-color: #fff;
    padding: 0 0 10px 0;
  }
  .dtcontentarea {
    padding: 0 7%;
  }
  .lesson-title ul li {
    border: none;
    color: #fff;
    font-size: 1.3rem;
    font-family: "mr-eaves-modern", sans-serif;
    font-style: italic;
    list-style: none;
    line-height: 2.2rem;
    display: none;
  }
  li.selected ul li {
    display: block;
  }
  li.selected ul a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.3);
  }
  .lesson-title ul {
    margin: -1rem 0 1rem 1.5rem;
  }
  li.selected img {
    margin: 0px -31px 0 0;
  }
  li.selected {
    border-top: none;
    border-bottom: 6px solid #555;
    margin-bottom: -1px;
    display: block;
  }
  li.selected .module-number {
    top: -1px;
  }
  /*------------- Tab Colors -------------- */
  li.tab-1.selected {
    background-color: #EC6AA4;
  }
  li.tab-2.selected {
    background-color: #9267B6;
  }
  li.tab-3.selected {
    background-color: #6AC4B3;
  }
  li.tab-4.selected {
    background-color: #519BE6;
  }
  li.tab-5.selected {
    background-color: #E9A260;
  }
  li.tab-6.selected {
    background-color: #3EA7BC;
  }
  li.tab-7.selected {
    background-color: #C16CD8;
  }
  li.tab-8.selected {
    background-color: #FD97A6;
  }
}

@media (min-width: 1200px) {
  .ws-header {
    background-size: cover;
  }
}
